#root {
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  /* position: absolute; */
}

.point {
  display: inline-block;
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: rgb(47, 0, 255);
  border-radius: 50%;
}
